{% extends 'accounts/main.html' %}

{% block content %}

  <style>
    body {
      margin: 0;
      font-family: Arial, sans-serif;
    }
    .card {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      overflow: hidden;
      margin: 20px;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    .card-header {
      background-color: #f2f2f2;
      padding: 10px;
      text-align: center;
      font-weight: bold;
    }
    .card-body {
      padding: 20px;
    }
    table {
      border-collapse: collapse;
      width: 100%;
    }
    table, th, td {
      border: 1px solid #ddd;
    }
    th, td {
      padding: 10px;
      text-align: center;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>



  <div class="card">
    <div class="card-header">Product Information</div>
    <div class="card-body">
      <table>
        <thead>
          <tr>
            <th>Product</th>
            <th>Category</th>
            <th>Price</th>
          </tr>
        </thead>
        
        {% for i in products %}
          <tr>
           <td>{{i.name}}</td>
           <td>{{i.category}}</td>
           <td>{{i.price}}</td>
          </tr>
        {% endfor %}


      </table>
    </div>
  </div>



{% endblock %}